#home {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;

}
img.resize {
  max-width:50%;
  max-height:50%;
}
a:link {
color: white;
text-decoration: none;
font-size: 180%;
}
a:visited{
color: powderblue;
text-decoration: none;
}
a:hover {
color: yellow;
text-decoration: none;
}

h1{
  color: white;
}

body{
  background-image: url("photography/background.jpg");
  background-size: cover;
  background-repeat: round;
  overflow: hidden;

    //background-size: 100%;
    //background-repeat: no-repeat;
    //background-attachment: fixed;
}

//body{
  -webkit-animation: colorchange 60s infinite;
    animation: colorchange 60s infinite;
    }
    @-webkit-keyframes colorchange {
         0%  {background: #cc9900;}
        20%  {background: #a52956;}
        45%  {background: #64a529;}
        70%  {background: #2971a5;}
        90% {background: #a52999;}
        100% {background: #cc9900;}
    }
    @keyframes colorchange {
      0%  {background: #cc9900;}
     20%  {background: #a52956;}
     45%  {background: #64a529;}
     70%  {background: #2971a5;}
     90% {background: #a52999;}
     100% {background: #cc9900;}
    }
